.App {
   text-align: center;
   background-image: url('./components/img/backGround.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   /* box-shadow: 10px 5px 5px black; */
   
}
 

